section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-bold.font-s-40
        | Обращение 
        br.no-br
        | к партнерам
      .about-section__text.font-s-18.color-black
        img.about-section__text-icon(src="images/about-section-text-icon.png" loading="lazy" width="84" height="74" alt="icon")
        | «Мы работаем в этом бизнесе более 10 лет. За это 
        br.no-br-xxl
        | время мы собрали вокруг себя команду специалистов, 
        br.no-br-xxl
        | которая умеет работать слаженно, без суеты и без 
        br.no-br-xxl
        | конфликтов с клиентами. А наши клиенты 
        br.no-br-xxl
        | рекомендуют нас друзьям и знакомым, потому что 
        br.no-br-xxl
        | после нас не нужно переделывать и доделывать. Мы 
        br.no-br-xxl
        | не выходим за рамки бюджета и всегда соблюдаем 
        br.no-br-xxl
        | все сроки и договоренности.
        br
        br
        | Рынок недвижимости продолжает расти, 
        br.no-br-xxl
        | а вместе с ним растет и популярность услуг 
        br.no-br-xxl
        | по дизайну и ремонту. Это интересный и прибыльный 
        br.no-br-xxl
        | бизнес, который мы можем запустить в вашем регионе 
        br.no-br-xxl
        | за 1 месяц. В дальнейшем вы быстро выходите 
        br.no-br-xxl
        | на окупаемость и получаете стабильную прибыль. 
        br.no-br-xxl
        | Будем рады передать наш опыт и знания 
        br.no-br-xxl
        | активным и целеустремленным партнерам!»
      .about-section__text-bottom.font-s-18.color-black
        | Основатели компании
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="1596" height="1680" alt="image")
section.about-section-bottom
  .wrapper
    .about-section-bottom__container
      .about-section-bottom__title.font-w-bold.font-s-40.color-white.text-center
        | У вас есть вопросы 
        br.no-br
        | по франшизе? Задайте их в форме!
      form.about-section-bottom__form(data-feedback-form)
        textarea.input.input--secondary.input--textarea(type="text" name="answer" autocomplete="off" placeholder="Текст вопроса")
        .about-section-bottom__form-adaptive
          input.input.input--secondary(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.input--secondary(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.btn.btn--secondary(type="submit") Задать вопрос основателям
