header.header
  .header__container
    .header__brand
      .header__brand-name.font-w-bold ARCHITECTOR
      .header__brand-text Франшиза студии <br> дизайна и ремонта
    .header__connection
      a(href="tel:+79000000000")
        img.header__connection-icon(src="images/connection-icon.svg" loading="lazy" width="24" height="24" alt="icon")
      include ../components/phone-number.pug

      //- img.header__logo(src="images/header-logo.png" loading="lazy" width="519" height="321" alt="logo")
      //- .header__call-me.font-s-12(data-remodal-target="modal-form-call-me") Обратный звонок
