section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-w-bold.font-s-40.text-center
        | Основные этапы запуска вашей 
        br.no-br
        | собственной студии
      .steps-section__sub-title.font-w-m-regular.font-s-18
        | Основные этапы сотрудничества
      .swiper-steps
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            .steps-section__card-header
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 1
            .font-s-18
              | Заключение договора 
              br.no-br
              | франшизы.
          .steps-section__card.swiper-slide
            .steps-section__card-header
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 2
            .font-s-18
              | Поиск подходящего 
              br.no-br
              | помещения и заключение 
              br.no-br
              | договора аренды.
          .steps-section__card.swiper-slide
            .steps-section__card-header
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 3
            .font-s-18
              | Ремонт и оформление 
              br.no-br
              | помещения.
          .steps-section__card.swiper-slide
            .steps-section__card-header
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 4
            .font-s-18
              | Запуск рекламных 
              br.no-br
              | кампаний для привлечения 
              br.no-br
              | первых клиентов.
          .steps-section__card.swiper-slide
            .steps-section__card-header
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 5
            .font-s-18
              | Поиск и обучение 
              br.no-br
              | персонала.
          .steps-section__card.swiper-slide
            .steps-section__card-header
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 6
            .font-s-18
              | Доставка и монтаж 
              br.no-br
              | необходимого 
              br.no-br
              | оборудования и мебели.
          .steps-section__card.swiper-slide
            .steps-section__card-header
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 7
            .font-s-18
              | Формирование 
              br.no-br
              | первичных запасов 
              br.no-br
              | и расходных материалов.
          .steps-section__card.swiper-slide
            .steps-section__card-header
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 8
            .font-s-18
              | Официальное 
              br.no-br
              | открытие.
        .steps-pagination.swiper-progress-steps
      .steps-section__bottom
        img.steps-section__bottom-icon(src="images/steps-section-bottom-icon.png" loading="lazy" width="285" height="170" alt="icon")
        .font-s-24
          | Работаем по договору, 
          br.no-br
          | в котором описаны все обязанности и 
          br.no-br
          | условия сотрудничества
      button.btn.steps-section__bottom-btn(data-remodal-target="modal-form-agreement") Скачать пример договора
